﻿@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <h2>Product</h2>
    <form id="product" method="post" action="@Url.Action("Create")">
        <div class="form-group">
            <label for="ProductName">Product Name:</label>
            <input data-val="true" data-val-required="Please Fill the Product Name." type="text" name="ProductName" id="ProductName" />
            <span class="field-validation-valid" data-valmsg-for="ProductName" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="Category">Category:</label>
            <input data-val="true" data-val-required="Please Fill the Category Name." type="text" name="Category" id="Category" />
            <span class="field-validation-valid" data-valmsg-for="Category" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="Price">Price:</label>
            <input data-val="true" data-val-required="Please Fill the Price." type="text" name="Price" id="Price" />
            <span class="field-validation-valid" data-valmsg-for="Price" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="UnitInStock">UnitInStock:</label>
            <input data-val="true" data-val-required="Please Fill the Unit In Stock" type="text" name="UnitInStock" id="UnitInStock" />
            <span class="field-validation-valid" data-valmsg-for="UnitInStock" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" />
        </div>
    </form>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


