﻿@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div class="container">   
    
        <div>            
            Product Name:@Model.ProductName           
        </div>
        <div>
            Category:@Model.CategoryName       
        </div>
        <div>
            Price:@Model.Price          
        </div>
        <div>
            UnitInStock:@Model.UnitInStock          
        </div> 
    <div>
       <a href="@Url.Action("DeleteConfirmed", new { ProductId = @Model.ProductId})">Delete</a>
        @Html.ActionLink("Back to List", "Index")
    </div>
     
</div>