﻿@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <h2>Product RestSharp</h2>
    @using (Html.BeginForm("Index", "ProductRest", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>@Html.ActionLink("ProductName", "Index", new { sortOrder = ViewBag.NameSort })</th>
                <th>Category</th>
                <th>@Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSort })</th>
                <th>UnitInStock</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>                    
                    <td>@p.ProductId</td>
                    <td>@p.ProductName</td>
                    <td>@p.CategoryName</td>
                    <td>@p.Price</td>
                    <td>@p.UnitInStock</td>
                    <td>@Html.ActionLink("Edit", "Update", new { ProductId = p.ProductId })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { ProductId = p.ProductId })</td>
                </tr>
            }
            @Html.ActionLink("Create New", "Create")
        </tbody>
    </table>
    Page@(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>
