﻿<h2>Update</h2>
<div class="container">
    <form id="update" name="update" method="post" action="@Url.Action("Update")">
        <div class="form-group">
            <input type="hidden" value="@Model.ProductId" name="ProductId" />
            <label for="ProductName">Product Name:</label>
            <input type="text" name="ProductName" id="ProductName" value="@Model.ProductName" />
        </div>
        <div class="form-group">
            <label for="Category">Category:</label>
            <input type="text" name="Category" id="Category" value="@Model.CategoryName" />
        </div>
        <div class="form-group">
            <label for="Price">Price:</label>
            <input type="text" name="Price" id="Price" value="@Model.Price" />
        </div>
        <div class="form-group">
            <label for="Price">UnitInStock:</label>
            <input type="text" name="UnitInStock" id="UnitInStock" value="@Model.UnitInStock" />
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
