﻿<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>All Products</h2>
            <ul id="products" />
        </div>
        <div>
            <h2>Search by ID</h2>
            <input type="text" id="prodId" size="5" />
            <input type="button" value="Search" onclick="find();" />
            <p id="product" />
        </div>
        <div>
            <h2>Get Products By Category</h2>
            <input type="text" id="cat" size="15" />
            <input type="button" value="Get Products By category" onclick="getProductsByCategory();" />
            <p id="catproducts" />
        </div>

    </section>
</div>

@section scripts {
    <script>
    var apiUrl = 'api/products';
    $(document).ready(function () {
        // Send an AJAX request
        $.getJSON(apiUrl)
            .done(function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    var str = item.ProductId + '  ' + item.ProductName + ': $' + item.Price + "  " + item.CategoryName + item.UnitInStock;
                    $('<li>', { text: str }).appendTo($('#products'));
                });
            });
    });


    function find() {
        var id = $('#prodId').val();
        $.getJSON(apiUrl + '/' + id)
            .done(function (data) {
                var str = data.ProductId + '  ' + data.ProductName + ': $' + data.Price + "  " + data.CategoryName + data.UnitInStock;
                $('#product').text(str);
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#product').text('Error: ' + err);
            });
    }

    function getProductsByCategory() {
        var category = $('#cat').val();
        var str = '';
        $.getJSON(apiUrl + '?cat=' + category)
         .done(function (data) {
             $.each(data, function (key, item) {
                 // Add a list item for the product.
                 str += item.ProductId + '  ' + item.ProductName + ': $' + item.Price + "  " + item.CategoryName + item.UnitInStock + '<br/>';
             });
             $('#catproducts').html(str);
         });
    }
    </script>
}




